@media screen and (max-width: 1023px) and (min-width: 768px) {
    .skills__body {
        padding-left: 0px;
    }

    .contact__body {
        max-width: 30%;
    }
}

@media screen and (max-width: 767px) and (min-width: 640px) {
    .skills__body {
        padding-left: 0px;
    }

    .contact__body {
        max-width: 40%;
    }

    .projects__body {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-button-container {
        display: flex;
    }

    .nav__body {
        position: absolute;
        top: 0;
        margin-top: 65px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.nav__body li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.nav__body li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .nav__body>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .nav__body>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .nav__link {
        color: white;

        &:hover {
            color: white;
        }
    }
}

@media screen and (max-width: 639px) and (min-width: 360px) {
    .skills__body {
        padding-left: 0px;
    }

    .contact__body {
        max-width: 50%;
    }

    .projects__body {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-button-container {
        display: flex;
    }

    .nav__body {
        position: absolute;
        top: 0;
        margin-top: 65px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.nav__body li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.nav__body li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .nav__body>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .nav__body>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .nav__link {
        color: white;

        &:hover {
            color: white;
        }
    }

    .social {
        width: 30px;
        height: 30px;
    }
}